<p-card header="خلق شحنه جديدة - محافظة">
  <form [formGroup]="newShippingForm">
    <div class="item w-100">
      <label>المحافظة</label>
      <p-dropdown placeholder="اختر محافظة" class="w-100" id="governorates" formControlName="state"
        [options]="governorates" optionLabel="label" (onChange)="selectGovernorates($event)"></p-dropdown>
    </div>
    <br><br><br>
    <p-card *ngFor="let case of totalCases; let i = index;">
      <div class="container-items">
        <div class="item">
          <label>المنطقة</label>
          <p-dropdown placeholder="اختر محافظة أولاً" id="regions" formControlName="district" [options]="districts"
            optionLabel="code" (onChange)="selectDistrict($event)"></p-dropdown>
        </div>
        <div class="item">
          <label>المتجر</label>
          <p-dropdown placeholder="اختر منطقة أولاً" id="stores" formControlName="merchantName" [options]="stores"
            optionLabel="customerName" (onChange)="selectStore($event)"></p-dropdown>
        </div>
        <div class="item">
          <label>هاتف المتجر</label>
          <p-inputNumber [disabled]="true" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"
            formControlName="handPhone"></p-inputNumber>
        </div>
        <div class="item">
          <label>رقم الوصل</label>
          <input pInputText pKeyFilter="int" placeholder="" formControlName="receiptNumber" />
        </div>
        <div class="item">
          <label>مبلغ الوصل د.ع</label>
          <p-inputNumber formControlName="receiptAmount"></p-inputNumber>
        </div>
        <div class="item">
          <label>مبلغ الوصل $</label>
          <p-inputNumber formControlName="receiptAmountUsd"></p-inputNumber>
        </div>
        <div class="item">
          <label>هاتف المستلم</label>
          <input pInputText pKeyFilter="int" placeholder="" formControlName="endCustomerPhone" />
        </div>
        <div class="item">
          <label>تفاصيل العنوان</label>
          <textarea rows="5" cols="30" pInputTextarea formControlName="addressDetails"></textarea>
        </div>
        <div class="item">
          <label>ملاحظات</label>
          <textarea rows="5" cols="30" pInputTextarea formControlName="notes"></textarea>
        </div>
        <i class="pi pi-trash" style="font-size: 1.5rem; color: red;     position: absolute;
        top: 0;
        left: 0;
        margin: 10px;" (click)="deleteCase(i)"></i>

      </div>
    </p-card>
    <br>
    <p-button label="إضافة وصل اخر" (click)="addCase()"></p-button>
  </form>
  <div style="display: flex; gap: 10px; justify-content: flex-end; margin-top: 25px;">
    <p-button label="حفظ" (click)="sendAllCases()" icon="pi pi-check"></p-button>
    <p-button label="الغاء" (click)="deleteAllCases()" icon="pi pi-times" styleClass="p-button-secondary"></p-button>
  </div>
</p-card>