.container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.item {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

:host ::ng-deep {
    .p-dropdown.p-component {
        width: 181px;
    }

    .p-inputnumber.p-component {
        width: 181px;
    }

    .p-inputtextarea {
        width: 181px;
    }
}
