<div class="card">
  <div
      class="boxBalance text-primary"
  >
  تسديد الديون النقدية  </div>
  <p-table
      [value]="products"
      [paginator]="true"
      [rows]="5"
      selectionMode="single"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      [tableStyle]="{ 'min-width': '50rem' }"
  >
      <ng-template pTemplate="header">
          <tr>
              <th>#</th>
              <th class="tab-header">طرف المعاملة</th>
              <th class="tab-header">مبالغ الدين</th>
              <th class="tab-header">المبالغ المسددة</th>
              <th class="tab-header">المتبقي</th>
              <th class="tab-header"></th>
              <th class="tab-header">التسديد</th>

          </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-product>
          <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ product.accountant }}</td>
              <td>{{ product.boxBalanceIqDinar }}</td>
              <td>{{ product.boxBalanceUSD }}</td>

              <td></td></tr
      ></ng-template>
  </p-table>
</div>
<div class="card bg-orange-500 all-dept font-medium flex ">
  <div class="">كل الديون</div><span class="px-2">:</span><div>0</div>
  
</div>