<div class="card flex justify-content-between">
    <p-dropdown [options]="roles" [(ngModel)]="role" optionLabel="rankNameAr"
        (onChange)='getData(role.rankCode)'></p-dropdown>
    <button icon="pi pi-plus" pButton pRipple label="إضافة" class="p-button-success"></button>
</div>
<div class="card">
    <p-table [value]="usersData" [paginator]="true" [rows]="5" selectionMode="single" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th class="tab-header">#</th>
                <th class="tab-header">معرف الدخول</th>
                <th class="tab-header">إسم المستخدم</th>
                <th class="tab-header">إسم المرتبة</th>
                <th class="tab-header">نشط</th>
                <th class="tab-header">هاتف</th>
                <th class="tab-header">الفرع</th>
                <th class="tab-header">تاريخ الإنشاء</th>
                <th class="tab-header"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex + 1}}</td>
                <td>{{ user.logInId }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.userRank }}</td>
                <td>
                    <span *ngIf="user.isActive =='Y'">YES</span>
                    <span *ngIf="user.isActive =='N'">NO</span>
                </td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.userBranch }}</td>
                <td>{{ user.createdAt | filterDate }}</td>
                <td style="display: flex; gap: 10px;">
                    <p-button (click)="editUser(user.userId)" icon="pi pi-user-edit"
                        styleClass="p-button-outlined p-button-info"></p-button>
                    <p-button (click)="deleteUser(user.userId)" icon="pi pi-trash"
                        styleClass="p-button-outlined p-button-danger"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" style="text-align: center;">لا يوجد معلومات</td>
            </tr>
        </ng-template>
    </p-table>
</div>