<div class="card">
  <div class=" flex justify-content-start">
    <div class="">
      <p-dropdown (onChange)='getUserId($event.value)' placeholder="اختر اسم" [options]="customers" [(ngModel)]="customer" optionLabel="customerName"
      ></p-dropdown>
    </div>
    <div> <p-button [disabled]="disabled" (click)="getAgentCheckbox()" icon="pi pi-search" label="عرض تفاصيل الراجع للمتجر" class="p-button-success px-5 ms-5"></p-button>
    </div>
  </div>
</div>
<div class="card">
  <div class="">
    <span class="boxBalance text-primary">

      باركود
    </span>
    <p-inputNumber style="height: 28px;" mode="decimal" inputId="withoutgrouping" [(ngModel)]="agent" [useGrouping]="false">
    </p-inputNumber>
    <span class="m-5">
      ارجاع الكل<p-checkbox [(ngModel)]="agentCheckbox" class="px-5"  [binary]="true" inputId="binary"></p-checkbox>

    </span>
  </div>
</div>
<div class="card">

  <div class="flex justify-content-between">
    <span class="boxBalance">الرواجع للزبائن</span>
    <div></div>

  </div>

  <p-table [value]="products" [paginator]="true" [rows]="5" selectionMode="single" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>

        <th class="tab-header">رقم الأيصال</th>
        <th class="tab-header">تاريخ الاستلام الفعلي</th>
        <th class="tab-header">أنشئ بواسطة</th>
        <th class="tab-header">ملاحظات</th>
        <th class="tab-header">طباعة ايصال الاستلام</th>
        <th class="tab-header"></th>
     
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" pTemplate="body" let-manifest>
      <tr [id]="manifest?.cId">
        <td>{{ i + 1 }}</td>

        <td>{{ manifest.cRcvDistrict }}</td>
        <td>{{ manifest.cCreateddt |filterDate }}</td>
        <td>{{ manifest.cCreatedby }}</td>
        <td>{{ manifest.cCreationstartpoint }}</td>

        <td><p-button (click)="print(manifest?.cId)" icon="pi pi-print" label="طباعة ايصال المستلمات"></p-button></td>
        <td>
          <p-button (click)="deleteSelection(manifest?.cId)" icon="pi pi-trash" styleClass="p-button-outlined p-button-danger"></p-button>
        </td>

        
      </tr>
    </ng-template>
  </p-table>
</div>