<p-toast></p-toast>
<p-card header="Roles">
    <p-table #dt [value]="data" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-gridlines"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[10, 25, 50]"
             [loading]='loading'
             [paginator]="true" [rows]="10">
        <ng-template pTemplate="caption">
            <div class="flex flex-column-reverse md:flex-row justify-content-end">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Role Name</th>
                <th style="width:50%">Permissions</th>
                 <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td><p-multiSelect [appendTo]='"body"' [showToggleAll]='false'  [styleClass]='"w-full"' (onChange)='selectPermission($event,data)' [options]="permissions" [ngModel]="data.permissions" optionLabel="name"></p-multiSelect>
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteItem(data)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<p-dialog [(visible)]="itemDialog" [style]="{width: '450px'}" header="Role Details" [modal]="true"
          class="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col">
                <label for="Name">Role Name</label>
                <input  id="Name" [(ngModel)]="item.name" type="text" pInputText>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [loading]='loading'  [disabled]='!item.name'
                (click)="saveItem()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="item">Are you sure you want to delete <b>{{item.name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteItemDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>

