.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 1rem 2rem 1rem;
    transition: margin-inline-start $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
