<div class="flex flex-col gap-4">
    <div class="flex gap-4 ">
        <p-panel class="w-1/2" id="stg1">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center flex-row-reverse w-full">
                    <div class="p-panel-title">المخزن</div>
                    <div>
                        <i class="pi pi-database" style="font-size: 1.5rem"></i>
                    </div>
                </div>
            </ng-template>

            <div class="flex flex-col gap-2">
                <div *ngFor="let n of stepByStage('INIT')" [routerLink]="['INIT',n.code]"
                     class="flex justify-between p-2 rounded-xl cursor-pointer hover:bg-gray-100 items-center">
                    <div class="text-lg font-semibold text-gray-700">{{n.name}}</div>
                    <p-skeleton *ngIf="isLoading" shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
                    <h3 *ngIf="!isLoading"  class="text-lg bg-yellow-100 p-2 rounded-full font-semibold text-yellow-500 ">{{n.value}}</h3>
                </div>
            </div>
        </p-panel>
        <p-panel class="w-1/2"  id="stg2">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center flex-row-reverse w-full">
                    <div class="p-panel-title">عند المندوب</div>
                    <div>
                        <i class="pi pi-user" style="font-size: 1.5rem"></i>
                    </div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-2">
                <div *ngFor="let n of stepByStage('AGENTOP')" [routerLink]="['AGENTOP',n.code]"
                     class="flex justify-between p-2 rounded-xl cursor-pointer hover:bg-gray-100 items-center">
                    <div class="text-lg font-semibold text-gray-700">{{n.name}}</div>
                    <p-skeleton *ngIf="isLoading" shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>

                    <h3  *ngIf="!isLoading" class="text-lg bg-blue-100 p-2 rounded-full font-semibold text-blue-500 ">{{n.value}}</h3>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="flex gap-4 ">
        <p-panel class="w-1/2"  id="stg3">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center flex-row-reverse w-full">
                    <div class="p-panel-title">الراجع</div>
                    <div>
                        <i class="pi pi-replay" style="font-size: 1.5rem"></i>
                    </div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-2">
                <div *ngFor="let n of stepByStage('CNCL')" [routerLink]="['CNCL',n.code]"
                     class="flex justify-between p-2 rounded-xl cursor-pointer hover:bg-gray-100 items-center">
                    <div class="text-lg font-semibold text-gray-700">{{n.name}}</div>
                    <p-skeleton *ngIf="isLoading" shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>

                    <h3  *ngIf="!isLoading" class="text-lg bg-red-100 p-2 rounded-full font-semibold text-red-500 ">{{n.value}}</h3>
                </div>
            </div>
        </p-panel>
        <p-panel class="w-1/2"  id="stg4">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center flex-row-reverse w-full">
                    <div class="p-panel-title">الواصل</div>
                    <div>
                        <i class="pi pi-box" style="font-size: 1.5rem"></i>
                    </div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-2">
                <div *ngFor="let n of stepByStage('DLV')" [routerLink]="['DLV',n.code]"
                     class="flex justify-between p-2 rounded-xl cursor-pointer hover:bg-gray-100 items-center">
                    <div class="text-lg font-semibold text-gray-700">{{n.name}}</div>
                    <p-skeleton *ngIf="isLoading" shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>

                    <h3  *ngIf="!isLoading" class="text-lg bg-green-100 p-2 rounded-full font-semibold text-green-500 ">{{n.value}}</h3>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="flex gap-4 ">
        <p-panel class="w-1/2"  id="stg5">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center flex-row-reverse w-full">
                    <div class="p-panel-title">النقل بين الفروع</div>
                    <div>
                        <i class="pi pi-truck" style="font-size: 1.5rem"></i>
                    </div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-2">
                <div *ngFor="let n of stepByStage('BRANCHES')" [routerLink]="['BRANCHES',n.code]"
                     class="flex justify-between p-2 rounded-xl cursor-pointer hover:bg-gray-100 items-center">
                    <div class="text-lg font-semibold text-gray-700">{{n.name}}</div>
                    <p-skeleton *ngIf="isLoading" shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>

                    <h3  *ngIf="!isLoading" class="text-lg bg-purple-100 p-2 rounded-full font-semibold text-purple-500 ">{{n.value}}</h3>
                </div>
            </div>
        </p-panel>
        <p-panel class="w-1/2"  id="stg6">
            <ng-template pTemplate="header">
                <div class="flex justify-between items-center flex-row-reverse w-full">
                    <div class="p-panel-title">شحنات جديدة عند العميل</div>
                    <div>
                        <i class="pi pi-user-plus" style="font-size: 1.5rem"></i>
                    </div>
                </div>
            </ng-template>
            <div class="flex flex-col gap-2">
                <div *ngFor="let n of stepByStage('NEWCUSTLOGI')" [routerLink]="['NEWCUSTLOGI',n.code]"
                     class="flex justify-between p-2 rounded-xl cursor-pointer hover:bg-gray-100 items-center">
                    <div class="text-lg font-semibold text-gray-700">{{n.name}}</div>
                    <p-skeleton *ngIf="isLoading" shape="circle" size="2rem" styleClass="mr-2"></p-skeleton>
                    <h3  *ngIf="!isLoading" class="text-lg bg-bluegray-100 p-2 rounded-full font-semibold text-bluegray-500 ">{{n.value}}</h3>
                </div>
            </div>
        </p-panel>
    </div>

</div>

