<div class="card">
  <div class="boxBalance text-primary">
    barcode <p-inputNumber style="height: 28px;" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
    </p-inputNumber></div>
  <p-table [value]="products" [paginator]="true" [rows]="5" selectionMode="single" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th class="tab-header">رقم الوصل</th>
        <th class="tab-header">الفرع صاحب الوصل</th>
        <th class="tab-header">العميل - المتجر</th>
        <th class="tab-header">العنوان</th>
        <th class="tab-header">عدد القطع الراجعه</th>
        <th class="tab-header">مبلغ الوصل</th>
        <th class="tab-header"></th>

      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" pTemplate="body" let-product>
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ product.accountant }}</td>
        <td>{{ product.boxBalanceIqDinar }}</td>
        <td>{{ product.boxBalanceUSD }}</td>

        <td></td>
      </tr>
    </ng-template>
  </p-table>
  <button icon="pi pi-thumbs-up" pButton pRipple label="حفظ" class="p-button-success"></button>
</div>