<div class="card">
  <div class=" flex justify-content-start">
    <div class="">

      <p-dropdown [required]="true" placeholder="اختر اسم" [options]="agents" optionLabel="userName"
        (onChange)='getData($event.value)'></p-dropdown>
    </div>
    <div> <p-button [disabled]="disabled" (click)="getAgentCheckbox()" icon="pi pi-search" label="عرض تفاصيل الراجع من المندوب" class="p-button-success px-5 ms-5"></p-button>
    </div>
  </div>
</div>
<div class="card">
  <div class="boxBalance text-primary">

    باركود <p-inputNumber [(ngModel)]="agent" style="height: 28px;" mode="decimal" inputId="withoutgrouping"
      [useGrouping]="false">
    </p-inputNumber><p-checkbox class="px-5"  [(ngModel)]="agentCheckbox"
      [binary]="true" inputId="binary"></p-checkbox></div>
</div>
<div class="card">
  <div class="flex justify-content-between">
    <span class="boxBalance">الرواجع المستلمة من المندوب</span>

  </div>

  <p-table [value]="manifestiddates" [paginator]="true" [rows]="5" selectionMode="single" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>

        <th>#</th>

        <th class="tab-header">رقم الأيصال</th>
        <th class="tab-header">تاريخ الاستلام الفعلي</th>
        <th class="tab-header">أنشئ بواسطة</th>
        <th class="tab-header">ملاحظات</th>
        <th class="tab-header">طباعة ايصال الاستلام</th>
        <th class="tab-header"></th>
     
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" pTemplate="body" let-manifest>
      <tr [id]="manifest?.cId">
        <td>{{ i + 1 }}</td>

        <td>{{ manifest.cRcvDistrict }}</td>
        <td>{{ manifest.cCreateddt |filterDate }}</td>
        <td>{{ manifest.cCreatedby }}</td>
        <td>{{ manifest.cCreationstartpoint }}</td>

        <td><p-button (click)="print(manifest?.cId)" icon="pi pi-print" label="طباعة ايصال المستلمات"></p-button></td>
        <td>
          <p-button (click)="deleteSelection(manifest?.cId)" icon="pi pi-trash" styleClass="p-button-outlined p-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>

  <div>
    <h1>الرواجع المستلمة من المندوب</h1>
  </div>


</div>