<div class="card">
  <div class=" flex justify-content-start">
    <div class="">
      <!-- <p-dropdown [options]="customers" [(ngModel)]="customer" optionLabel="customerName"
        (onChange)='getData($event.value)'></p-dropdown> -->
    </div>
    <div> <p-button icon="pi pi-search" label="عرض  كشوفات الرواجع للفرع" class="p-button-success px-5 ms-5"></p-button>
    </div>
  </div>
</div>
<div class="card">

  <div class="flex justify-content-between">
    <span class="boxBalance">كشوفات الرواجع للفرع</span>
    <div></div>

  </div>

  <p-table [value]="products" [paginator]="true" [rows]="5" selectionMode="single" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th class="tab-header">#</th>
        <th class="tab-header">رقم كشف الراجع </th>
        <th class="tab-header">تاريخ الاستلام الفعلي </th>
        <th class="tab-header">أنشئ بواسطة </th>
        <th class="tab-header">عدد الشحنات الفعلي</th>
        <th class="tab-header">ملاحظات </th>
        <th class="tab-header">مندوب الأرتباط </th>
        <th class="tab-header">طباعة ايصال الاستلام </th>
        <th class="tab-header"></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.transactionType }}</td>
        <td>{{ product.transactionName }}</td>
        <td>{{ product.transactionEntity }}</td>
        <td>{{ product.transactionAmountIQD }}</td>
        <td>{{ product.transactionAmountUSD }}</td>
        <td>{{ product.notes }}</td>
        <td>{{ product.accountantBoxId }}</td>
        <td><p-button icon="pi pi-print" label="طباعة ايصال المستلمات"></p-button></td>
        <td> </td>
        <td>
          <p-button icon="pi pi-trash" styleClass="p-button-outlined p-button-danger"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>